body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.357rem;
}
p{
  color: #1572A1;
}
h1{
     margin: 0;
     padding-top: 8.125rem;
     font-family: 'Sacramento', cursive;
     font-size: 5.625rem;
     color: #1572A1;
     line-height: 2;
}
H2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    color: #1572A1;
    font-weight: normal;
}

H3{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #1572A1;
}

H6{
    margin: auto;
    font-family: 'Merriweather', serif;
    color: #1572A1;
    text-align: left;
}
          .right-title{
            text-align: center;
          }

          .left-title{
            text-align: center;
          }

          .middle-text-top{
          text-align: left;
          margin-left: 6.25rem;
          width: 50%;
          padding-bottom: 3.125rem;
          }

          .middle-text-middle{
          text-align: right;
          margin-left: 41.25rem;
          width: 50%;
          padding-bottom: 3.125rem;
          }

          .middle-text-bottom{
          text-align: left;
          margin-left: 6.25rem;
          width: 50%;
          padding-bottom: 6.25rem;
          }


          .top-page{
            margin: 0;
            position: relative;
            background-color: #7FBCD2;
            height: 50rem;
            width: auto;
          }

          .middle-page{
            position: relative;
            margin-top: 0;
            padding-top: 3.125rem;
            background-color: #A4EBF3;
            height: 50rem;
            width: auto;
          }

          .bottom-page{
            margin-top: 0;
            padding-top: 3.125rem;
            background-color: #5DA7DB;
            height: auto;
            width: auto;
          }

          .icons{
            width: 3.125rem;
            height: 3.125rem;
          }

            .cloud-top{
            position: absolute;
            left: 34.375rem;
            top: 34.375rem;
          }

          .cloud-middle{
            position: absolute;
            top: 34.375rem;
            right: 25rem;
          }

          .cloud-bottom{
            position: absolute;
            top:37.5rem;
            left:21.875rem;
          }

          .mountain{
            position: absolute;
            right: 22.5rem;
            top:25rem;
          }

          .portrait{
            position: absolute;
            border-radius: 100%;
            width: 15.625rem;
            height: 15.625rem;
            right: 18.75rem;
          }

          .work-portrait{
            position: absolute;
            border-radius: 100%;
            width:15.625rem;
            height: 15.625rem;
            left:18.75rem;
            top:17.5rem;
          }

          .game{
            position: absolute;
            border-radius: 100%;
            width:15.625rem;
            height: 15.625rem;
            right:18.75rem;
            top:32.5rem;
          }
