body{
    margin:0;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.357em;
    line-height: 1;
    
}

h1{
    margin: 0;
    padding-top: 120px;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #1572A1;
    line-height: 2;
}
H2{
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 2rem;
   color: #1572A1;
   font-weight: normal;
   
}

H3{
 font-family: 'Montserrat Alternates', sans-serif;
 color: #1572A1;
 text-align: center;
 border:0;
 
}

H4{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #1572A1;
    margin-top: 8px;
    margin-bottom: 8px;
   }

H6{
   margin: auto;
   font-family: 'Merriweather', serif;
   color: #1572A1;
   text-align: left;
}

p{
    text-align: justify;
    margin: auto;
   font-family: 'Merriweather', serif;
   color: #1572A1;
}
   
 

.top-page{
    width: 1520px;
    height: 800px;
    background-color: #7FBCD2;
    position: relative;
    left:0;
    top:0;
    text-align: center;
    margin: 0;
    border: 0;
}

.middle-page{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;   
    background-color: #A4EBF3;
    height: 800px;
    width: 1520px;
}

.up-left-top{
    position:absolute;
    top:25px;
    height: 250px;
    width: 750px;
    display: inline-block;
    text-align: center;
    text-indent: 50px;
}

.up-right-top{
    position:absolute;
    top:25px;
    left:750px;
    height: 250px;
    width: 750px;
    display: inline-block;

}

.middle-left{
    position:absolute;
    left:0;
    top:275px;
    height: 250px;
    width: 750px;
    display: inline-block;
}

.middle-right{
    position:absolute;
    left:750px; 
    top:275px;   
    height: 250px;
    width: 750px;
    display: inline-block;
    text-align: center;
    text-indent: 50px;

}

.bottom-left{
    position:absolute;
    left:0; 
    top:525px;   
    height: 250px;
    width: 750px;
    display: inline-block;
    text-align: center;
    text-indent: 50px;

}

.bottom-right{
    position:absolute;
    left:750px;
    top:500px;
    height: 250px;
    width: 750px;
    display: inline-block;
}


.aling-middle-texts{
    padding-right: 50px;
    padding-left: 50px;
}

.bottom-page{
margin-top:0;
position: absolute;
width: 1520px;
height: 800px;
background-color: #5DA7DB;
top:1600px;
left:0;
text-align: center;

}

/* ###################### Single Classes ################################# */


.mountain-img{
    width: 800px;
    height: 400px;
    bottom:0;
    line-height: 0;
    border-bottom: 0;
    position: absolute;
    right: 360px;
}

.cloud-01{
    position: absolute;
    left:300px;
    top:500px;
}

.cloud-02{
    position: absolute;
    left:200px;
    top:300px;
}
.cloud-03{
    position: absolute;
    right: 230px;
    top:350px;
}

.cloud-04{
    position: absolute;
    right: 430px;
    top:550px;
}

.portrait{

    height: 250px;
    width: 250px;
    border-radius: 100%;
    position: relative;
    display: block;
    left:635px;
    top:-80px;
}

.circle-img-up{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left:250px;
    position: relative;
}

.circle-img-middle{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left:250px;
    position: relative;

}

.circle-img-bottom{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left:250px;
    position: relative;

}

.icons{
    height: 80px;
    width: 80px;
    border-radius:10%;
}